.container {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    width: 50vw;
    height: 60vh;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    padding: 20px 0px;
    border-radius: 10px;
  }
  .from,
  .to {
    display: inline;
    margin: 30px;
    text-align: center;
  }
  h1,
  h3 {
    text-align: center;
    font-family: tahoma;
  }
  h1{
    font-size: 50px;
    color: brown;
    font-family: verdana;
    margin-top: 0
  }
  h3{
      margin: 10px 0px;
      font-size: 30px;
  }
  button {
    display: block;
    padding: 8px;
    margin: 25px auto;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    font-family: verdana;
    background-color: brown;
    color: #f4f4f4;
    cursor: pointer;
  }
  select{
      width: 60px;
      height: 20px
  }
  option{
      text-align: center;
  }
  label{
      font-size: 20px;
      font-weight: bold;
      margin: 0 2px;
  }
  p{
    margin: 0 auto;
    font-size: 30px;
  }
  input{
    width: 100px;
    height: 20px
  }
  