.container{
    background-image: url(currency1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    max-width: 400px;
    margin: auto;
    padding: 20px;
}
.mb-3{
    font-size: 20px;
    padding: 5px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

h2 {
    text-align: center;
}

.form-control, .form-select {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}

button {
    display: block;
    width: 100%;
    height: 45px;
    margin: auto;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border-radius: 3px black;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
